.divHeaderChat{
    display: flex;
    width: 850px;
    height: 110px;
    background: #FAFBFF;
    border-bottom-color: rgba(112, 124, 151, 0.1);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.PhotoRes{
    width: 54px;
    height: 54px;
}

.PhotoNameOnlineRes{
    margin-left: 60px;
    margin-top: 28px;
    display: flex;
}

.NameOnline{
    margin-left: 22px;
    width: 164px;
}

.NameRes{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #0D1C2E;
}

.OnlineRes{
    margin-top: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
    color: #2A8BF2;
}

.File-add{
    display: flex;
    margin-left: 340px;
}

.More{
    display: flex;
    margin-right: 38px;
}